body {
  background-color: rgb(46, 45, 47) !important; 
}


p {
  font-family: 'Poppins';
  font-weight: 500;
  color: white;
}

#titulo-blanco {
  color: white;
  padding-top: 2.5rem;
}


.separador {
  color:rgb(100, 200, 216);
  max-width: 80%;
  margin: 0 auto;
}

nav {
  color: white;
  font-family: 'Montserrat'
}

.nav-link {
  color: white;
}


.navbar {
  /* background-color: #0dcaf0 ;  color de fondo menu */
  top: 0;
  z-index: 1000; 
}

.navbar-nav .nav-link {
  color: white !important; /* letras blancas */
}

#texto-logo {
  color: white;
}

.footer-background {
  background-color: #0dcaf0; /* color de fondo footer */
}

#areamensaje {
  margin-top:2rem;
  margin-left:2rem;
  margin-right:2rem;
}

#boton-formulario {
  margin-left:2rem;
  margin-right:2rem;
}

#escribe-nombre-asunto {
  margin-left:2rem;
  margin-right:2rem;
}

.form-label {
  color: white;
  font-family: 'Poppins';
  margin-top: 0.4rem;
}

.icono-columna {
  color: white;
  fill: white;
}

#icono-footer {
  fill: white;
  margin-top: 1rem;
}

#titulo-footer {
  margin-top: 2.5rem;
  color: white;
  font-weight: 700;
}